<% if @brand.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

  <ul>
    <% @brand.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h1>Add A Brand:</h1>
<%= form_for(@brand) do |f| %>
    <%= render partial: "form", locals: { bp: f } %>
    <h3>Add Cars:</h3>
    <%= f.fields_for :car do |c| %>
        <%= c.label :year %>
        <%= c.number_field :year %><br>
        <%= c.label :model %>
        <%= c.text_field :model %><br>
        <%= c.label :color %>
        <%= c.text_field :color %><br>
        <% end %>
        <br>
    <%= f.submit %>
<% end %>