<% if @car.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

  <ul>
    <% @car.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @car do |f| %>
  <%= f.label :year %>
  <%= f.number_field :year %><br>
  <%= f.label :model %>
  <%= f.text_field :model %><br>
  <%= f.label :color %>
  <%= f.text_field :color %><br>
  <h3>Select An Existing Brand:</h3>
  <%= f.collection_select :brand_id, Brand.all, :id, :name %>
  <h3>Add A Brand:</h3>
  <%= f.fields_for :brand do |b| %>
    <%= render partial: "brands/form", locals: { bp: b } %>
      <h3>Which country is the brand from?</h3>
      <%= b.collection_select :country_id, Country.all, :id, :name %>
      <%= b.fields_for :countries do |c| %>
         <%= c.label :name %>
         <%= c.text_field :name %>
         <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
