<h1>Add A New Car:</h1>
<%= form_for @car do |f| %>
    <%= f.label :year %>
    <%= f.number_field :year %>
    <%= f.label :model %>
    <%= f.text_field :model %>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <%= f.submit %>
<% end %>
