<!DOCTYPE html>
<html>
  <head>
    <title>CarDealershipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Your Cars", user_path(current_user) %> |
  <%= link_to "Create Car", new_car_path %> |
  <%= link_to "All Cars", cars_path %> |
  <%= link_to "Brands", brands_path %> |
  <% if !logged_in? %>
  <%= button_to "Sign in with Google", '/auth/google_oauth2'%>
  <% else %>
  <%= link_to "Log Out", logout_path, method: 'delete' %>
  <% end %>
  <% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>
    <%= yield %>
  </body>
</html>